BasedOnStyle: LLVM
IndentWidth: 2   
TabWidth: 2
UseTab: Never    
NamespaceIndentation: All  
BreakBeforeBraces: Attach  
ColumnLimit: 0             
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve   # or 'Regroup' to combine similar includes
IncludeCategories:
  - Regex: '^<.*>$'       # system headers
    Priority: 1
  - Regex: '^"exs/.*"$'   # project headers
    Priority: 2
  - Regex: '^"val/.*"$' 
    Priority: 2
  - Regex: '^"puq/.*"$' 
    Priority: 2
  - Regex: '^"dip/.*"$' 
    Priority: 2
  - Regex: '^".*"$'       # local headers
    Priority: 3