BasedOnStyle: LLVM
IndentWidth: 2   
TabWidth: 2
UseTab: Never    
NamespaceIndentation: All  
BreakBeforeBraces: Attach  
ColumnLimit: 0             
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup  
IncludeCategories:
  - Regex: '^"exs/.*"$'   # project headers
    Priority: 1
  - Regex: '^"val/.*"$'
    Priority: 1
  - Regex: '^"puq/.*"$'
    Priority: 1
  - Regex: '^"dip/.*"$'
    Priority: 1
  - Regex: '^"mat/.*"$'
    Priority: 1
  - Regex: '^".*"$'       # local headers
    Priority: 2
  - Regex: '^<.*>$'       # system headers
    Priority: 3
